.wrapper {
  background-image: url("./background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #610ae4;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}
